body{
    background-color: red;}
        
    .miText{
        font-size: 3em;
        color: green;}

        #titulo-importante {
            border: 2px solid black;
            width: 50vw;
            margin: auto;
            padding: 3em;
            font-size: 4em;
            color: blue;
            padding: 1px 1em 1px 1em;
            border-radius: 7%;

        }

#cards-container{
    border: 3px solid rgb(141, 9, 141);
    display: flex;
    width: 85vw;
    margin: auto;
    margin-top: 1,5px;
    border-radius: 15px;
    pading: 50px;
    align-items: center;
    justify-content: space-evenly;

    
}